<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="uk.co.dancowan.robots.srv.overlay" name="overlay" schema="schema/uk.co.dancowan.robots.srv.overlay.exsd"/>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="uk.co.dancowan.robots.srv.ui.views.camera.CameraView"
            icon="icons/view_camera.png"
            id="uk.co.dancowan.robots.srv.cameraView"
            name="Camera">
      </view>
      <view
            class="uk.co.dancowan.robots.srv.ui.views.motors.MotorsView"
            icon="icons/view_motors.png"
            id="uk.co.dancowan.robots.srv.motorsView"
            name="Motors View">
      </view>
      <view
            name="WebCamSat View"
            class="uk.co.dancowan.robots.srv.ui.views.wcs.WCSView"
            id="uk.co.dancowan.robots.srv.WCSView">
      </view>
   </extension>
   <extension
         point="uk.co.dancowan.robots.hal.component">
         <component
             id="camera"
             class="uk.co.dancowan.robots.srv.hal.camera.Camera">
         </component>
         <component
             id="featuredetector"
             class="uk.co.dancowan.robots.srv.hal.featuredetector.FeatureDetector">
         </component>
         <component
             id="motors"
             class="uk.co.dancowan.robots.srv.hal.Motors">
         </component>
   </extension>
  
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="uk.co.dancowan.robots.srv.ui.preferences.CameraPreferencePage"
            id="uk.co.dancowan.robots.srv.ui.preferences.CameraPreferencePage"
            name="SRV Camera">
      </page>
      <page
            category="uk.co.dancowan.robots.srv.ui.preferences.CameraPreferencePage"
            class="uk.co.dancowan.robots.srv.ui.preferences.BlobOverlayPreferencePage"
            id="uk.co.dancowan.robots.srv.blobOverlay"
            name="Blob Overlay">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="uk.co.dancowan.robots.srv.ui.preferences.PreferenceInitializer">
      </initializer>
   </extension>

   <extension
         point="uk.co.dancowan.robots.ui.commandButton">
         <commandButton
               index="4"
               id="commands.reset"
               name="Reset"
               onCmd="$!"
               encode="true"
               return="2"
               tooltip="Reset SRV"
               type="push">
         </commandButton>
         <commandButton
               index="13"
               id="commands.lasers"
               name="Laser"
               onCmd="6C"
               offCmd="4C"
               encode="false"
               return="2"
               tooltip="Turn lasers on/off"
               type="toggle">
         </commandButton>
         <commandButton
               encode="false"
               icon="icons/cmd_fwdLeft.png"
               id="commands.motors.forwardsLeft"
               index="0"
               name="FL"
               offCmd="4D000000"
               onCmd="4D1E4600"
               radioID="radiogroup.motorCmd"
               return="2"
               tooltip="Forwards left"
               type="toggle">
         </commandButton>
         <commandButton
               encode="false"
               icon="icons/cmd_fwd.png"
               id="commands.motors.forward"
               index="1"
               name="F"
               offCmd="4D000000"
               onCmd="4D323200"
               radioID="radiogroup.motorCmd"
               return="2"
               tooltip="Forwards"
               type="toggle">
         </commandButton>
         <commandButton
               encode="false"
               icon="icons/cmd_fwdRight.png"
               id="commands.motors.forwardsRight"
               index="2"
               name="FR"
               offCmd="4D000000"
               onCmd="4D461E00"
               radioID="radiogroup.motorCmd"
               return="2"
               tooltip="Forwards right"
               type="toggle">
         </commandButton>
         <commandButton
               encode="false"
               icon="icons/cmd_ccw.png"
               id="commands.motors.leftSpin"
               index="5"
               name="RL"
               offCmd="4D000000"
               onCmd="4D40c000"
               radioID="radiogroup.motorCmd"
               return="2"
               tooltip="Left Spin"
               type="toggle">
         </commandButton>
         <commandButton
               encode="false"
               icon="icons/cmd_stop.png"
               id="commands.motors.stop"
               index="6"
               name="STOP"
               onCmd="4D000000"
               radioID="radiogroup.motorCmd"
               return="2"
               tooltip="Stop"
               type="push">
         </commandButton>
         <commandButton
               encode="false"
               icon="icons/cmd_cw.png"
               id="commands.motors.rightSpin"
               index="7"
               name="RS"
               offCmd="4D000000"
               onCmd="4DC04000"
               radioID="radiogroup.motorCmd"
               return="2"
               tooltip="Right spin"
               type="toggle">
         </commandButton>
         <!--<commandButton
               index="8"
               id="commands.general.flip"
               name="Flip"
               onCmd="y"
               offCmd="Y"
               encode="true"
               return="2"
               tooltip="Flip camera image."
               type="toggle">
         </commandButton>-->
         <!--<commandButton
               index="9"
               id="commands.general.overlay"
               name="Overlay"
               onCmd="o"
               offCmd="O"
               encode="true"
               return="2"
               tooltip="Show hardware overlay."
               type="toggle">
         </commandButton>-->
         <commandButton
               encode="false"
               icon="icons/cmd_rvsLeft.png"
               id="commands.motors.reverseLeft"
               index="10"
               name="RL"
               offCmd="4D000000"
               onCmd="4DE2BA00"
               radioID="radiogroup.motorCmd"
               return="2"
               tooltip="Reverse Left"
               type="toggle">
         </commandButton>
         <commandButton
               encode="false"
               icon="icons/cmd_rvs.png"
               id="commands.motors.reverse"
               index="11"
               name="R"
               offCmd="4D000000"
               onCmd="4DCECE00"
               radioID="radiogroup.motorCmd"
               return="2"
               tooltip="Reverse"
               type="toggle">
         </commandButton>
         <commandButton
               encode="false"
               icon="icons/cmd_rvsRight.png"
               id="commands.motors.reverseRight"
               index="12"
               name="RR"
               offCmd="4D000000"
               onCmd="4DBAE200"
               radioID="radiogroup.motorCmd"
               return="2"
               tooltip="Reverse right"
               type="toggle">
         </commandButton>
         <commandButton
               encode="true"
               icon="icons/cmd_time.png"
               id="commands.general.time"
               index="8"
               name="Time"
               onCmd="t"
               return="-1"
               tooltip="Request time since booting hardware"
               type="push">
         </commandButton>
         <commandButton
               index="9"
               id="commands.general.version"
               name="Version"
               onCmd="V"
               encode="true"
               return="-1"
               tooltip="Request firmware version string"
               type="push">
         </commandButton>
         <commandButton
               index="14"
               id="commands.general.range"
               name="Range"
               onCmd="R"
               encode="true"
               return="-1"
               tooltip="Request laser ranging call"
               type="push">
         </commandButton>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="doc/contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="doc/toc.xml"
            primary="true">
      </toc>
   </extension>
   <extension
         point="uk.co.dancowan.robots.srv.overlay">
      <overlay
            class="uk.co.dancowan.robots.srv.ui.views.camera.overlays.BlobOverlay">
      </overlay>
   </extension>
</plugin>
